<%- include('partials/header') -%>

<H1>
   Car Store!
</H1>
<% if ( username ) { %>
    <P> <%=username%> </P>
<% }  %>
<P><img src="https://www.google.com.vn/imgres?imgurl=https%3A%2F%2Fgiaxeoto.vn%2Fadmin%2Fupload%2Fimages%2Faudi-a4-1583750320.jpeg&imgrefurl=https%3A%2F%2Fgiaxeoto.vn%2Faudi-a4-447.html&tbnid=Yqjt19c33S6EZM&vet=12ahUKEwi8lqXY5bXqAhWEHysKHY1xBW0QMygAegUIARCzAQ..i&docid=l3yrJeanrCt31M&w=640&h=452&q=xe%20audi&hl=vi&ved=2ahUKEwi8lqXY5bXqAhWEHysKHY1xBW0QMygAegUIARCzAQ"></P>
<P><img src="https://www.google.com.vn/imgres?imgurl=https%3A%2F%2Fmuaxegiatot.vn%2Fwp-content%2Fuploads%2F2018%2F07%2Fgia-xe-audi-a3-Muaxegiatot-vn.jpg&imgrefurl=https%3A%2F%2Fmuaxegiatot.vn%2Fgia-xe-audi.html&tbnid=vsdm3qLWRr09cM&vet=12ahUKEwi8lqXY5bXqAhWEHysKHY1xBW0QMygBegUIARC2AQ..i&docid=EyLELZLQTIsIVM&w=600&h=336&q=xe%20audi&hl=vi&ved=2ahUKEwi8lqXY5bXqAhWEHysKHY1xBW0QMygBegUIARC2AQ"></P>

<P> <%= mesg %> </P>

<%- include('partials/footer') -%>
